.auth-header {
  width: 100%;
  padding: 50px 0;

  .logo {
    width: 300px;
    display: block;
    margin: auto;
  }
}

.login-form-container,
.signup-form-container {
  width: 100%;
}

.auth-form {
  margin: auto;
  width: 100%;
  max-width: 400px;
}

.auth-link {
  margin-left: 5px;
}
