// vars
@import 'styles/vars';
@import 'styles/fontSizes';

// modules
@import 'styles/modules/colors';
@import 'styles/modules/mq';

// styles
@import 'styles/globals/typography';
@import 'styles/globals/colorHovers';
@import 'styles/globals/anchors';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root, .app {
  height: 100%;
}

body {
  background-color: palette('darkgray');
  color: palette('white');
}
