@import '../../styles/vars';
@import '../../styles/modules/colors';
@import '../../styles/modules/mq';

$stdoutGutter: 30px;

.CodeMirror,
.stdout {
  font-family: $codeFont;
}

.sling-container {
  display: grid;
  height: 100%;
  grid-template-areas:
    "header"
    "code"
    "stdout";

  @include mq('md') {
    grid-template-columns:
      50% 50%;
    grid-template-areas:
      "header header"
      "code   stdout";
  }
}

.code-editor-container {
  max-height: 100%;
  background: palette('white');
  overflow-y: scroll;
  cursor: text;
  grid-area: code;
}

.stdout-container {
  grid-area: stdout;
}

.editor-header {
  grid-area: header;
}

.run-btn {
  margin: $stdoutGutter;
}

.stdout {
  min-height: 100px;
  background: palette('darkgray', -7);
  padding: 5px;
  margin: 0 $stdoutGutter;
}
