@import '../../../styles/vars';
@import '../../../styles/modules/mq';
@import '../../../styles/modules/colors';

// keep the total height 80px; CodeMirror height accounts for 80px header
$navbarHeight: 77px;

.editor-header {
  height: $navbarHeight;
  border-bottom: 3px solid palette('red');
  display: grid;
  grid-template-areas:
    "logo"
    "navbar";

  @include mq('md') {
    grid-template-areas:
      "logo navbar";
    grid-template-columns:
      50% 50%;
  }
}

.logo-container {
  grid-area: logo;
  display: flex;

  .logo {
    margin: auto;
    width: 200px;

    @include mq('md') {
      margin-left: $gutter;
    }
  }
}

.navbar-container {
  grid-area: navbar;
}

.editor-navbar {
  text-align: right;
  height: 100%;
  display: flex;
  
  ul {
    display: block;
    padding: 0;
    margin: auto;

    @include mq('md') {
      margin-right: $gutter;
    }
  }

  ul li {
    display: inline;
    margin-left: 30px;
  }
}
