.editor-header {
  height: 77px;
  border-bottom: 3px solid #c24040;
  display: grid;
  grid-template-areas: "logo" "navbar"; }

@media (min-width: 768px) {
  .editor-header {
    grid-template-areas: "logo navbar";
    grid-template-columns: 50% 50%; } }

.logo-container {
  grid-area: logo;
  display: flex; }

.logo-container .logo {
  margin: auto;
  width: 200px; }

@media (min-width: 768px) {
  .logo-container .logo {
    margin-left: 30px; } }

.navbar-container {
  grid-area: navbar; }

.editor-navbar {
  text-align: right;
  height: 100%;
  display: flex; }

.editor-navbar ul {
  display: block;
  padding: 0;
  margin: auto; }

@media (min-width: 768px) {
  .editor-navbar ul {
    margin-right: 30px; } }

.editor-navbar ul li {
  display: inline;
  margin-left: 30px; }
