.landing-page-container {
  text-align: center; }

.landing-page-logo {
  width: 300px;
  margin: 50px 0; }

@media (min-width: 480px) {
  .pair-programming-btn-container button {
    min-width: 300px; } }
