@import '../../styles/modules/mq';

.landing-page-container {
  text-align: center;
}

.landing-page-logo {
  width: 300px;
  margin: 50px 0;
}

.auth-btn-container button {
  margin-bottom: 20px;
  
  @include mq('sm') {
    min-width: 300px;
  }
}
