@import '../vars';

@function palette($palette, $tone: 0) {
  /**
   *
   *  Palette function for generating a color within the color scheme
   *
   *  @param {string} : palette
   *  @param {integer} : tone
   *    if $tone is positive, it will give you a lighter color 
   *    if $tone is negative, it will give you a darker color
   */
  $color: map-get($colors, $palette);

  @if ($tone > 0) {
    @return lighten($color, $tone * 1%);
  } @else if ($tone < 0) {
    @return darken($color, ($tone * -1) * 1%);
  }
  
  @return $color;
}
