@import '../vars';

@mixin mq($point) {
  @if map-has-key($breakpoints, $point) {
    @media (min-width: map-get($breakpoints, $point)) { @content; }
  } @else {
    @error "\"`#{$point}`\" does not exist in the $breakpoints sass-map."
  }
}
