$defaultFontSizes: (
  h1: 2rem,
  h2: 1.6rem,
  h3: 1.4rem,
  h4: 1.3rem,
  h5: 1.2rem,
  h6: 1rem,
  p: 1rem,
  button: 1rem,
  code: 0.8rem,
  input: 1rem,
  li: 1rem
);

$smFontSizes: (
  h1: 2.5rem,
  h2: 2rem,
  h3: 1.8rem,
  h4: 1.6rem,
  h5: 1.4rem,
  h6: 1rem,
  p: 1rem,
  button: 1rem,
  code: 1rem,
  input: 1rem,
  li: 1rem
);

$mdFontSizes: (
  h1: 3rem,
  h2: 2.4rem,
  h3: 2.1rem,
  h4: 1.8rem,
  h5: 1.5rem,
  h6: 1rem,
  p: 1rem,
  button: 1rem,
  code: 0.9rem,
  input: 1rem,
  li: 1rem
);
